.trans-type-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  .trans-type-wrapper .trans-type-btn {
    width: 42vw;
    height: 42vw;
    margin: 3vw;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-family: 'Courier New', Courier, monospace;
    font-family: Merriweather; }
    .trans-type-wrapper .trans-type-btn.walking {
      background-color: #6ed3cf; }
    .trans-type-wrapper .trans-type-btn.running {
      background-color: #9068be; }
    .trans-type-wrapper .trans-type-btn.biking {
      background-color: #ecdd21; }
    .trans-type-wrapper .trans-type-btn.car {
      background-color: #B0E57C; }
